<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nairobigymkhana.nrbgymkhana">

    <!-- Override the plugin’s maxSdkVersion so it matches photo_manager’s -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:replace="android:maxSdkVersion" />

    <!-- Only needed for Flutter’s profile build connection -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
